{% extends "website/layout.html" %}
{% load static %}

{% block body %}

<div class="container-fluid navbar-padding"></div>

<div class="container-fluid">
    <div class="row">

        <div class="col">
            <h1 class="text-azure text-align-center">ARTWORK</h1>
        </div>
        
    </div>

    <div class="row">

        <div class="col">
            <p class="text-azure text-align-center">Please contact me at rkimbrell94@gmail.com for any licensing inquiries.</p>
        </div>

    </div>
   
</div>

{% endblock %}