{% extends "website/layout.html" %}
{% load static %}

{% block body %}

<div class="container-fluid navbar-padding-lg"></div>

<div>
    <h1 class="text-azure text-align-center">AUDIO PLUGINS</h1>
</div>

<div>
    <p>
        I am currently developing a suite of audio plugins for use in DAW applications for music production
        and audio editing in C++. Public beta-testing will be coming soon upon the completion of the initial
        application development. To be notified of when they drop join my mailing list <a href="">here</a>.
    </p>
</div>

{% endblock %}