{% extends "website/layout.html" %}
{% load static %}

{% block body %}

<div class="navbar-padding-sm"></div>


<div class="container-fluid">
    <div class="row">

        <div class="col">
            <h1 class="text-azure text-align-center">ABOUT RYAN</h1>
        </div>
        
    </div>

    <div class="navbar-padding-sm"></div>

    <div class="row">

        <p class="bio-text text-azure">
            Ryan Kimbrell is a Music Producer, Multi-Instrumentalist, 
            Web Developer/Software Engineer, and 3D Computer Graphics 
            Artist based in Los Angeles, California.
        </p>

        <p class="bio-text text-azure">
            He earned a Master Degree (M.M.) in Contemporary Performance 
            and Music Production from the Berklee College of Music in 2017 
            and was then selected for a Post-Graduate fellowship at Berklee 
            from 2017-2018 where he further developed his production and sound design ability. 
            He earned a Bachelor's Degree (B.M.) in Jazz Studies (Saxophone Performance) in 2016 
            from the University of Wisconsin-Madison.
        </p>

        <p class="bio-text text-azure">
            Ryan's unique set of musical accomplishments make him the perfect addition to any team, 
            playing saxophones and keyboards, singing, producing, and recording music at an expert level. 
            He also specializes in synthesizers and the talkbox.
        </p>

        <p class="bio-text text-azure">
            Learning computer programming has been one of Ryan's greatest accomplishments 
            post-schooling, and he is proficient in Python (and Django Framework), JavaScript, 
            Java, and C++. He completely programmed and launched this website and also 
            <a href="http://spotifytools.net" target="_blank">spotifytools.net</a> all by himself. Currently he is 
            working on developing a suite of custom Audio Plugins for Music Production and Audio Editing 
            in C++.
        </p>       

    </div>

    <div class="row navbar-padding-sm">
        <div class="col">
            <h3 class="text-azure text-align-center">What's Ryan Listening To?</h3>
        </div>
    </div>
    <div id="heavy-rotation" class="playlist">
        <a href="https://open.spotify.com/playlist/3yo5Msg4KYKVeAWcHZNI8l?si=mINQhVomSXay3bVYF2xaJA" target="_blank"><p class="text-align-center">HEAVY ROTATION</p></a></li>
    </div>
    <div id="dank-chords-fat-beats-and-pocket" class="playlist">
        <a href="https://open.spotify.com/playlist/6Kxq838jn5ytExr09mhJff?si=cEIyeSiURS2Kt0lYy2FMWQ" target="_blank"><p class="text-align-center">DANK CHORDS, FAT BEATS, AND POCKET</p></a>
    </div>
    <div id="coooooool" class="playlist">
        <a href="https://open.spotify.com/playlist/4mVhbUFNRd80650r9tFrao?si=BYcIXUikT_CroRcMVEa8rw" target="_blank"><p class="text-align-center">COOOOOOOL</p></a>
    </div>
    <div id="super-dank" class="playlist">
        <a href="https://open.spotify.com/playlist/0GvpGUxWHpswRPt5g6hr0a?si=xxTG8F3CQOu7Ti_kbc0LCg" target="_blank"><p class="text-align-center">SUPER DANK</p></a>
    </div>
    <div id="very-awesome-tracks" class="playlist">
        <a href="https://open.spotify.com/playlist/6IQIYVNlCFBaJAstxLSMnA?si=nZouoPU7QguEHtceH6B2OA" target="_blank"><p class="text-align-center">VERY AWESOME TRACKS</p></a>
    </div>
    <div id="yet-another-great-playlist" class="playlist">
        <a href="https://open.spotify.com/playlist/3sfMZmcj8ddH8rcfKqjnbJ?si=5Ywa5wxgSmaf1wIEWqppYQ" target="_blank"><p class="text-align-center">YET ANOTHER GREAT PLAYLIST</p></a>
    </div>
    <div id="smooth-leaning" class="playlist">
        <a href="https://open.spotify.com/playlist/0TOh3wzKAipjfl2P5BjVET?si=Fjma5bCVSlKoB_l6THQBSw" target="_blank"><p class="text-align-center">SMOOTH LEANING</p></a>
    </div>
   
</div>

{% endblock %}