{% extends "website/layout.html" %}
{% load static %}

{% block script %}

<script type="module" src="{% static 'website/contact.js' %}"></script>

{% endblock %}



{% block body %}

<canvas id="c"></canvas>

<div class="container-fluid navbar-padding-lg"></div>

<div class="container-fluid">
    <div class="row">

        <div class="col">
            <h1 class="text-azure text-align-center">LET'S CONNECT</h1>
        </div>
        
    </div>

    <div class="row">

        <div class="col">
            <p class="text-azure text-align-center">DM's and email are always open,
                and I'll get back to you as soon as I can</p>
        </div>

    </div>

    <div class="row socials">

        <div class="col-4 max-z-index">
            <a href="http://twitter.com/ryankimbrell"><img class="img-center" src="{% static 'website/images/twitter.png' %}" alt="twitter-logo" width="60em" height="60em"></a>
        </div>
        <div class="col-4 max-z-index">
            <a href="http://instagram.com/ryankimbrell"><img class="img-center" src="{% static 'website/images/insta.png' %}" alt="instagram-logo" width="100em" height="75em"></a>
        </div>
        <div class="col-4 max-z-index">
            <a href="mailto:rkimbrell94@gmail.com"><img class="img-center" src="{% static 'website/images/email.png' %}" alt="twitter-logo" width="75em" height="75em"></a>
        </div>

    </div>

</div>


{% endblock %}