<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!--
            The above 2 meta tags *must* come first in the <head>
            to consistently ensure proper document rendering.
            Any other head element should come *after* these tags.
         -->

        <!-- DESCRIPTION / SEO TAGS-->
        <meta name="description" content="Explore the world of Ryan Kimbrell's music, buy sample packs, license artwork, and check out his web development work">
        <meta name="robots" content="index, follow">

        <!-- TITLE -->
        <title>Ryan Kimbrell - Producer | Web Developer | Artist</title>

        <!-- Styles: Bootstrap and Custom CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'website/styles.css' %}">

        {% block script %}
        {% endblock %}

    </head>
    <body>

        <!-- NAVBAR -->
        <div class="container-fluid">
            <div class="row">
                <div id="navbar">
                    <nav class="navbar static-top navbar-dark background-gray-transparent">

                        <a class="navbar-brand text-azure" href="{% url 'index' %}">RYAN KIMBRELL</a>

                        <button class="navbar-toggler ml-auto nav-btn" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'home' %}">HOME</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'bio' %}">ABOUT RYAN</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'samplepacks' %}">SAMPLE PACKS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'music' %}">MY MUSIC</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'artwork' %}">ARTWORK</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'resume' %}">RESUME</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'portfolio' %}">PORTFOLIO</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'contact' %}">CONTACT</a>
                                </li>
                            </ul>
                        </div>


                    </nav>
                </div>
            </div>
        </div>


        <!-- DJANGO INSERTION -->
        {% block body %}
        {% endblock %}


        <!--MAILING LIST-->
        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
            We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <div id="mc_embed_signup">
        <form action="https://ryankimbrell.us7.list-manage.com/subscribe/post?u=55642d6cc8bc8993dd22be132&amp;id=2f48a0c528" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Join my mailing list!</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_55642d6cc8bc8993dd22be132_2f48a0c528" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <!--End mc_embed_signup-->

        <!-- BOOTSTRAP JS IMPORTS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

    </body>
</html>