{% extends "website/layout.html" %}
{% load static %}

{% block body %}

<div class="container-fluid navbar-padding"></div>

<div id="web-dev-portfolio" class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-azure text-align-center">WEB DEVELOPMENT PORTFOLIO</h1>
        </div>
    </div>

    <div id="spotify-tools-link" class="row navbar-padding-sm">
        <div class="col d-flex justify-content-center">
            <a href="http://spotifytools.net" target="_blank"><h1>SPOTIFY TOOLS</h1></a>
        </div>
    </div>

    <div id="spotify-tools-explanation" class="row">
        <div class="col">
            <p class="text-azure text-align-center bio-text">
                <a href="http://spotifytools.net">http://spotifytools.net</a> is a web application that 
                I developed by myself in order to provide Spotify users with access to data about the music 
                they love to listen to. It utilizes Python/Django with SQL on the backend, and is served on the 
                front-end using a combination Django and JavaScript. 
            </p>
        </div>
    </div>

    <div id="spotify-tools-pics" class="row">
        <div class="col">
            <img>
        </div>
    </div>
</div>

{% endblock %}