{% extends "website/layout.html" %}
{% load static %}

{% block body %}

<div class="container-fluid navbar-padding"></div>

<div class="container-fluid">
    <div class="row">
        <button class="resume-button button-spacing resume-button-styling" type="button"><h1 class="text-azure text-align-center">RESUME</h1></button>
        <button class="resume-button button-spacing resume-button-styling" type="button"><h1 class="text-azure text-align-center">CV</h1></button>
    </div>
</div>


{% endblock %}