{% extends "website/layout.html" %}
{% load static %}

{% block body %}

<div class="container-fluid navbar-padding"></div>



<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="text-azure text-align-center">SAMPLE PACKS</h1>
        </div>
    </div>
    
    <div clas="row">
        <div class="col">
            <p class="text-azure plugin-paragraph-margin text-align-center">COMING SOON!</p>
            <p class="text-azure plugin-paragraph-margin text-align-center">
                Free and Premium Sample Packs coming soon including drums, keys, bass, MIDI, saxophone, talkbox, and MORE!
            </p>
        </div>
    </div>

</div>

{% endblock %}