/* ======================================================= */
/* THREE JS CANVAS */

body {
    margin: 0;
    background-color: #000000;
}

#c {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    /* pointer-events: none; */
}

#content {
  font-size: 7vw;
  font-family: sans-serif;
  text-align: left;
  width: 100%;
  height: 100%;
  display: flex;
  /*
  justify-content: center;
  align-items: center;
  */
}

.page-wrapper {
	padding: 0px;
	margin: 12px 48px;
	position: absolute;
	width: calc(100% - 2*48px);
	word-wrap: break-word;
}

#div1 {
    height: 300em;
}


/* ======================================================= */
/* NAVBAR */

nav {
    position: absolute;
    z-index: 5; /* CANVAS IS Z-INDEX OF 2 */
}

/* ======================================================= */
/* Background color classes */

.background-azure {
    background-color: #ECFEFF;
}

.background-light-cyan {
    background-color: #D4FCFF;
}

.background-magic-mint{
    background-color: #AFF0E1;
}

.background-cadet-blue {
    background-color: #6FA7A5;
}

.background-blue-sapphire {
    background-color: #2D5869;
}

.background-gunmetal {
    background-color: #162B34;
}

.background-black {
    background-color: 0x000000;
}


/* ======================================================= */
/* Text color classes */

.text-azure {
    color: #ECFEFF;
}

.text-light-cyan {
    color: #D4FCFF
}

.text-magic-mint {
    color: #AFF0E1;
}

.text-cadet-blue {
    color: #6FA7A5;
}

.text-blue-sapphire {
    background-color: #2D5869;
}

.text-gunmetal {
    background-color: #162B34;
}

/* ======================================================= */
/* Height Classes */
.height-100 {
    height: 100em;
}

/* ======================================================= */
/* Z-Index Classes */

.in-front {

    z-index: 4;

}